Q1. How do you comment code in Python? What are the different types of comments?

Python ignores comments and you can use them to write notes or remind yourself what code is trying to do.
Any text for the rest of the line following a hash mark(#) is part of a comment.
We can also use ''' ''' Quotation marks to write paragraphs of comments or text
# This is comment used to describe the block of code

In [2]:

print('Hello')
#hii guys
"""
Hello my name is nishil
 I am trying to Learn python 
 I think i will be pretty good in Python in Few days
"""

Hello

'\nHello my name is nishil\n I am trying to Learn python \n I think i will be pretty good in Python in Few days\n'

Q2. What are variables in Python? How do you declare and assign values to variables?
Ans : Variable is like a box in computer's memory where you can store a single value.
To declare and assign values to a variable, an equal sign(called the assignment operator) and the value to be stored is used
 for example

In [3]:
this_is_v = 23

Q3. How do you convert one data type to another in Python?

In [11]:
#there are two ways of datatype conversion
a=12
b=2.34
c=a+b
print('c')
type(c)

#second way of datatype conversion is
d = int(input("enter a number"))
e = input("enter a number")

c

enter a number 12
enter a number 12

In [10]:
type(d)

int

In [12]:
type(e)

str

In [13]:
#Here we convert a string value to a integer value

Q4. How do you write and execute a Python script from the command line?

First open command line and type python then,
it will show you your python version 
then you can run python scripts such as print("hello")
and you will get output

Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [16]:
my_list = [1, 2, 3, 4, 5]
my_list[1:3]

[2, 3]

Q6. What is a complex number in mathematics, and how is it represented in Python?

Complex numbers are the numbers that are expressed in the form of c+id where, c,d are real numbers and 'i' is an imaginary number called “iota”. The value of i = (√-1). For example, 2+3i is a complex number, where 2 is a real number (Re) and 3i is an imaginary number

In python x +yj here x,y are real numbers and here imaginary is denoted by j whis square root of -1

Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [17]:
age = 25

In [18]:
age

25

Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable 
belong to?

In [19]:
price = 9.99
type(price)

float

Q9. Create a variable named name and assign your full name to it as a string. How would you print the 
value of this variable?

In [20]:
name = "Nishil Ramdas Gawde"
print(name)

Nishil Ramdas Gawde

Q10. Given the string "Hello, World!", extract the substring "World".

In [23]:
h = "Hello World"
h[6:11]

'World'

Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are 
currently a student or not.

In [31]:
is_student = bool(input())
if is_student == True :
 print(' you are a student ')
else :  
 print('you are not a student')

 False

 you are a student